body{
    font-family: 'Poppins', sans-serif;
    margin: 0 10px 0 0;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color-span{
    color: orange;
    
}
.flexible-container{
    display: flex;
    
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    
    background-repeat: no-repeat;
    
    
}

.text-only{
    width: 70%;
    padding-left: 25px;
    
}
.image-only{
    width: 30%;
}
.image-only img{
    width: 100%;
    margin-left: 0px;
    margin-top: 18px;
}
.paragraphOne-text{
    font-size: 20px;
    
}
.link-button{
    font-size: 20px;
    color: whitesmoke;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato, red);
    padding: 10px 40px;
    border-radius: 8px;
}
.mid-section{
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    
    background-repeat: no-repeat;
    background-position: right;
    
}
.mid-section-image{
    width: 35%;
    
}
.mid-section-image img{
    width: 90%;
    margin-top: 10px;
    padding-left: 30px;
    
}
.mid-section-text{
    width: 65%;
    font-size: 22px;
}
.learning-items{
    font-size: 20px;
    box-shadow: 10px 10px 50px grey;
    margin-left: 5%;
    margin-right: 3%;
    padding-left: 20px;
}
.Programming-hero{
    width: 40%;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(157, 255, 0), rgba(255, 238, 0, 0.795));
    border-image-slice: 1;
    
}
.DevSkill{
    width: 44%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.bottom-section{
    margin-bottom: 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
    font-weight: 700;
}